.itemDestaq {
  width: 430px;
  height: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ContainerTitles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 590px;
}

.Titles {
  margin-left: 25px;
  list-style-type: katakana;
  color: #2255aa;
  text-align: start;
}

.Titles li a {
  color: #EE0000;
  text-decoration: none;
}

.precoVelho {
  text-decoration-line: line-through;
}

footer {
  margin-top: 10px;
}
